    <script type="text/javascript">
      
      window.onload = function() {
        WebOffice.openBook('user1', 'file1');
      }
    </script>
    Hello to my demo.. :)
    <div id='book'>
Sheet does here..
    </div>
