    <script type="text/javascript">
      
      window.onload = function() {
        webBook = new WebBook();
        webBook.open_book('user1', 'file1');
      //  WebBook.render($('book'));
      }
    </script>
    Hello to my demo.. :)
    <div id='book'>
Sheet does here..
    </div>
