    <script type="text/javascript">
      
      window.onload = function() {
        WebOffice.openBook('user1', 'file1');
      }
    </script>
pos<div id="pos"></div>
x-diff<div id="change"></div>
current<div id="current"></div>
size<div id="size"></div>

    Hello to my demo.. :)
    <div id='book'>
Sheet does here..
    </div>
