    <script type="text/javascript" src="javascripts/prototype.js"></script>
    <script type="text/javascript" src="javascripts/effects.js"></script>
    <script type="text/javascript" src="javascripts/book.js"></script>
    <script type="text/javascript" src="javascripts/sheet.js"></script>
    <script type="text/javascript">
      
      window.onload = function() {
        WebBook.open_book('user1', 'file1');
      //  WebBook.render($('book'));
      }
    </script>
    Hello to my demo.. :)
    <div id='sheet'>
Sheet does here..
    </div>
